/*commentaires css*/
h1 { color: chartreuse;
text-align: center;}
h2 {text-align: center;}
/*modifie les balises p*/
p {color: aqua;}
p1 {color: limegreen; ;}
p2{background-color: aliceblue;font-family:'Times New Roman', Times, serif;}

/*apparamment j'ai pas de balise p dans mon site edit: maintenant oui, c'est pour le texte*/
body {background-color: hotpink; font-family: cursive}
ol {color: goldenrod;}
ul {color: lavender;}
img {width:60vh;
    height; 200px;}